.alumni{
	font-size:14px;
}

.alumni__introduction{
	font-weight:normal
}
.alumni__list{
	margin:50px 0 0
}
.alumni__item{
	padding-left:100px;
	min-height:90px;
	margin-bottom:35px;
	position:relative;
}

.alumni__figure{
	position:absolute;
	left:0;
	top:0;
}

.alumni__image{
	border-radius:100px;
}

.alumni__name{
	font-weight:bold;
	margin:0;
	font-size:17px;
	font-family: $f__proxima;
}
.alumni__description{
	margin-top:0;
}