.vertical-rhythm{

	/*> *:last-child,
	> *:last-child > *:last-child,
	> *:last-child > *:last-child > *:last-child {
		margin: 0;
	}*/

	> *:first-child{
		margin-top:0;
	}

	* + * {
		margin-bottom:0;
		margin-top: 1.5em;
	}

}
