body{
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	background:#eeeeee;
	//-webkit-transform:translate3d(0,0,0);
}

.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
	padding-right: 0;
	padding-left: 0;
}

.container__relative{
	position:relative;
	z-index:1
}

.site-wrapper{
	max-width:1440px;
	margin:0 auto;
	position:relative;
	z-index:1;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

article.reverse .subhead:after {
	background: #fff;
}

body.body-url-home .site-header .btn-cta,
.js-site-header--down .btn-cta {
	border-color: #fff;
	border-radius: 5px;
}