@import "../../../bower_components/bourbon/dist/bourbon";
@import "../vendor/ss-social-regular/ss-social-regular";
@import "../vendor/budicon-font-font/budicon-font-font";

@import "atoms/_variables";
@import "plugins/_bootstrap";

//@import "plugins/animate";

@import "atoms/_mixins";
@import "atoms/_vertical-rhythm";
@import "atoms/_z-indexes";

@import "atoms/_icons";
@import "atoms/_buttons";
@import "atoms/_keyframe-animations";
@import "atoms/_headings";

@import "molecules/_layout";
@import "molecules/_loading";
@import "molecules/_overlay";

@import "organisms/_alumni";
@import "organisms/_work-with-us";
@import "organisms/_work";
@import "organisms/_quickfind";
@import "organisms/_subscribe";
@import "organisms/_author";
@import "organisms/_blog";

@import "organisms/_site-header";
@import "organisms/_site-footer";
@import "organisms/_staff";
@import "organisms/_standfirst";

@import "pages/_home";
@import "pages/_culture";


.bio{background: #fff; padding: 30px 0;}

.bio hr,
.bio h2,
.bio p{max-width: 700px; margin: 0 auto;}

.bio hr{margin-top: 40px;}
.bio h2{margin-top: 50px;}
.bio p{margin-bottom: 20px; font-size: 19px; }


.headshot a{display: block; border: 1px solid #f3f4ef; padding: 10px; border-radius: 5px; width: 370px; margin: 20px auto 40px; text-decoration: none;}
.headshot a .desc{display: block; font-size: 12px; color: #a2a295; text-align: center; padding: 10px 0 0;}

.headshot a:hover{border-color: darken (#f3f4ef, 20%); box-shadow: 0px 2px 1px rgba(0,0,0,0.1);}
.headshot a:hover .desc{color: darken (#f3f4ef, 20%);}