---
layout: default
title: Luke Giuliani
---

{% include 'standfirst' with {'classes':'standfirst--background-repeat','image':'work/stardust.png', 'title':'Bio', 'subtitle':"Social entrepreneur, strategist and technologist. Making the world better with business and technology. "} %}


<section class="bio">
	
	<div class="container">
	
		<div class="headshot">
			<a target="_blank" href="/design/images/bio/luke_giuliani_large.jpg">
				<img src="/design/images/bio/luke_giuliani.jpg" alt="luke_giuliani">
				<span class="desc">Click for hi res</span>
			</a>
		</div>
	
		<h2>Short Bio</h2>
			<p>Passionate about using technology to make the world better, Luke is a social entrepreneur who has started numerous projects and businesses.</p>
			<p>These include Squareweave, a web company making the world better with technology; Grace, a cafe in Fitzroy; OurSay, a social enterprise connecting citizens to decision makers; and The Fitzroy Academy of Getting Shit Done, a project to teach people how to work on ideas that don’t even exist yet.</p>
			<p>Contact: <a href="mailto:luke@giuliani.com.au">luke@giuliani.com.au</a> / <a href="//twitter.com/lukegiuliani">@lukegiuliani</a> / <a href="//lukegiuliani.com.au">lukegiuliani.com.au</a></p>			
			<hr>
			<h2>Longer Bio</h2>
			<p>Luke is an entrepreneur who has started numerous projects and businesses across several industries. These include Squareweave, a web company making the world better with technology; Grace, a cafe in Fitzroy; OurSay, a social enterprise connecting citizens to decision makers; and The Fitzroy Academy of Getting Shit Done, a project to teach people how to work on ideas that don’t even exist yet.</p>
		
		<p>Passionate about using technology to make the world better, Luke particularly enjoys working with social enterprises and startups. He has extensive experience in web and mobile technology, but has also done strategic consulting and sits on several boards. Luke helps projects by making complicated matters simple and finding ways for people to solve problems with technology.</p>
		
		<p>Luke lives in Fitzroy with his wife, Lucy. In his spare time, he enjoys good coffee, exhausting games of squash, long rides on his motorbike and bad sci-fi.</p>
		<p>Contact: <a href="mailto:luke@giuliani.com.au">luke@giuliani.com.au</a> / <a href="//twitter.com/lukegiuliani">@lukegiuliani</a> / <a href="//lukegiuliani.com.au">lukegiuliani.com.au</a></p>
				
		<hr>
	</div>
</section>
